.about {
  display: flex;
  flex-direction: row;
}

.aboutText {
  color: var(--white);
  text-align: center;
  margin-right: 1%;
  margin-left: 2%;
  margin-top: 7%;
}

.aboutH1 {
  text-align: center;
  margin-bottom: 15px;
}

.aboutH2 {
  text-align: center;
  margin-bottom: 15px;
}

.aboutSection {
  font-size: large;
  margin: 5% 5% 5% 5%;
}

.aboutPhoto {
  width: 20%;
  height: 20%;
  margin: 5% 0px 0px 5%;
  border-radius: 5px;
  filter: grayscale(100%);
}

.aboutPhoto:hover {
  filter: none;
  transition: 0.4s ease-in-out;
}

@media (max-width: 630px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .aboutText {
    text-align: center;
    margin: 7% auto;
  }

  .aboutPhoto {
    width: 50%;
    height: auto;
    margin: 5% auto;
  }
}
