@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

:root {
  --CharcoalGrey: #2c2a29;
  --RichBlack: #343434;
  --highlighter: #edfb60;
  --white: #fff;
  --black: #000;
  --modalGrey: #37393a;
  --modalBorder: #949BA0
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Audiowide", sans-serif;
}
