.navbar {
  font-size: xx-large;
  background-color: var(--RichBlack);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.left {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.right {
  display: flex;
  align-items: center;
  margin-right: 40px;
  flex-grow: 1;
  justify-content: flex-end;
}

.right h5 {
  margin-right: 30px;
}

.right a {
  color: var(--white);
  text-decoration: none;
}

.navbar a:hover {
  cursor: pointer;
}

@media (max-width: 670px) {
  .right h5 {
    font-size: small;
    width: 100%;
  }
}
